<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About route</title>

    <link rel="stylesheet" href="<%= assetsMap.about.css %>">
</head>
<body>

    <div class="wrapper">
        <h1 class="about-heading">About</h1>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="<%= assetsMap.about.js %>"></script>
</body>
</html>
