<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home route</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.fullpage/2.9.4/jquery.fullpage.min.css">
    <link rel="stylesheet" href="<%= assetsMap.home.css %>">
</head>
<body>

    <div class="wrapper" id="fullpage">
        <section class="section section-home-main">
            <div class="pattern-container border-pattern" id="patternOne">
                <figure class="border-imgs border-seeds-img">
                    <img src="/images/main/border-seeds.svg" alt="">
                </figure>
                <figure class="border-imgs border-lines-img">
                    <img src="/images/main/border-lines.svg" alt="">
                </figure>
            </div>

            <div class="pattern-container full-pattern" id="patternTwo">
                <figure class="full-imgs full-seeds-img">
                    <img src="/images/main/full-seeds.svg" alt="">
                </figure>
                <figure class="full-imgs full-lines-img">
                    <img src="/images/main/full-lines.svg" alt="">
                </figure>
            </div>

            <div class="mainContainer">
                <div class="logo-container">
                    <figure class="logo-image easingClass" id="partial-one">
                        <img src="/images/main/logo-large1.svg" alt="">
                    </figure>
                    <figure class="logo-image overlayed easingClass" id="partial-two">
                        <img src="/images/main/logo-large2.svg" alt="">
                    </figure>
                    <figure class="logo-image overlayed easingClass" id="partial-three">
                        <img src="/images/main/logo-large3.svg" alt="">
                    </figure>
                    <figure class="logo-image overlayed easingClass" id="partial-four">
                        <img src="/images/main/logo-large4.svg" alt="">
                    </figure>
                </div>

                <h1 class="splashHeading easingClass">planting seeds of innovation</h1>
            </div>
        </section>

        <section class="section section-home-about">
            <div class="pattern-container full-pattern" id="patternThree">
                <figure class="full-imgs full-seeds-img">
                    <img src="/images/main/full-seeds.svg" alt="">
                </figure>
                <figure class="full-imgs full-lines-img">
                    <img src="/images/main/full-lines.svg" alt="">
                </figure>
            </div>

            <div class="mainContainer splitSection">
                <div class="fix-container">
                    <div class="main-heading">
                        <h1 class="easingClass">who <span class="largeYellow"> we</span> are</h1>
                    </div>

                    <div class="main-words">
                        <div class="section-words easingClass">
                            <p>We help our clients develop comprehensive brand strategies that allow for greater exposure and connection with their target customer bases. We focus on both the brand’s visual identity and voice, ensuring that people see and hear a true reflection of the brand’s heart and soul.</p>
                        </div>

                        <div class="section-words easingClass">
                            <p class="about-miniheading">Our services</p>
                            <p>We offer clients with customized solutions to fit their individual branding needs. We specialize in the whole spectrum of branding, including:</p>
                            <ul>
                                <li>Logo design and identity development</li>
                                <li>Website design and construction</li>
                                <li>Brand collateral</li>
                                <li>Marketing strategies and campaigns</li>
                                <li>Content creation</li>
                                <li>Packaging design</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-home-community">
            <div class="pattern-container full-pattern" id="patternFour">
                <figure class="full-imgs full-seeds-img">
                    <img src="/images/main/full-seeds.svg" alt="">
                </figure>
                <figure class="full-imgs full-lines-img">
                    <img src="/images/main/full-lines.svg" alt="">
                </figure>
            </div>

            <div class="mainContainer splitSection">
                <div class="fix-container">
                    <div class="main-heading">
                        <h1 class="easingClass"><span class="offCenter">our</span> <span class="largeYellow"> community</span></h1>
                    </div>

                    <div class="main-words">
                        <div class="section-words easingClass">
                            <p>At WeSuperseed, we have begun building a network of talented, multi-cultural and innovative individuals who are interested in brand strategy and design. Our aim is to create a collaborative platform for creative thinkers that are looking for work or that require assistance with a project on hand. The aim of this platform is to bridge and build a tighter knit creative community, while the growth will increase the manpower available allowing us to offer our clients a wider range of services and shorter response times.</p>
                        </div>

                        <div class="section-words easingClass">
                            <p>We are always looking for creative minds that align with our vision and join our Community. If you think you would be a good fit and have the skills and determination to help drive our platform forward, or if you need assistance on a current project and are looking for help from likeminded creative individuals, let us know how we can work together.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-home-clients yellowBg">
            <div class="pattern-container border-pattern" id="patternFive">
                <figure class="border-imgs border-seeds-img">
                    <img src="/images/main/border-seeds.svg" alt="">
                </figure>
                <figure class="border-imgs border-lines-img">
                    <img src="/images/main/border-lines.svg" alt="">
                </figure>
            </div>

            <div class="mainContainer">
                <div class="clients-container">
                    <div class="main-heading">
                        <h1 class="easingClass">our clients</h1>
                    </div>
                    <figure class="clients-img clients-desktop easingClass">
                        <img src="/images/main/client-logos-desktop.svg" alt="">
                    </figure>

                    <figure class="clients-img clients-mobile easingClass">
                        <img src="/images/main/client-logos-mobile.svg" alt="">
                    </figure>
                </div>
            </div>
        </section>

        <section class="section section-home-contact">
            <div class="mainContainer splitSection">
                <figure class="bigseed-img bigseed-left">
                    <img src="/images/main/big-seed.svg" alt="">
                </figure>
                <figure class="bigseed-img bigseed-right">
                    <img src="/images/main/big-seed.svg" alt="">
                </figure>
                <div class="fix-container">
                    <div class="main-heading">
                        <h1 class="easingClass">let's<span class="md-br">have a</span><span class="md-br">chat</span></h1>
                    </div>

                    <div class="main-words">
                        <div class="section-words easingClass">
                            <p>Are you interested in our services or in need of our expertise?<br><br>
                            Want to join our Community?<br><br>
                            We are here to help and are always happy to hear from you, so get in touch with us today!</p>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <a class="contact-button" href="mailto:brian@wesuperseed.com">
                    <h2 class="contact-text easingClass">Plant a seed</h2>
                    <figure class="contact-img easingClass">
                        <img src="/images/main/contact-button.png" alt="">
                    </figure>
                </a>
                <div class="footer-contents">
                    <figure class="footer-img">
                        <img src="/images/main/logo-large.svg" alt="">
                    </figure>
                    <p class="footer-copy">superseed limited all rights reserved.</p>
                </div>
            </footer>
        </section>

    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/jquery.fullpage/2.9.4/jquery.fullpage.min.js"
        integrity="sha256-r80qU2FgO31x7HtK2BQxYOQxPb45x+eKKhzA0OrepyM=" crossorigin="anonymous"></script>
    <script src="<%= assetsMap.home.js %>"></script>
</body>
</html>
