<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home route</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.fullpage/2.9.4/jquery.fullpage.min.css">
    <link rel="stylesheet" href="<%= assetsMap.home.css %>">
</head>
<body>

    <div class="wrapper" id="fullpage">
        <section class="section section-home-main">
            <div class="pattern-container border-pattern" id="patternOne">
                <figure class="border-imgs border-seeds-img">
                    <img src="/images/main/border-seeds.svg" alt="">
                </figure>
                <figure class="border-imgs border-lines-img">
                    <img src="/images/main/border-lines.svg" alt="">
                </figure>
            </div>

            <div class="pattern-container full-pattern" id="patternTwo">
                <figure class="full-imgs full-seeds-img">
                    <img src="/images/main/full-seeds.svg" alt="">
                </figure>
                <figure class="full-imgs full-lines-img">
                    <img src="/images/main/full-lines.svg" alt="">
                </figure>
            </div>

            <div class="mainContainer">
                <div class="logo-container">
                    <figure class="logo-image">
                        <img src="/images/main/logo-large.svg" alt="">
                    </figure>
                </div>

                <h1>planting seeds of innovation</h1>
            </div>
        </section>

        <section class="section section-home-about">
            <div class="pattern-container full-pattern" id="patternThree">
                <figure class="full-imgs full-seeds-img">
                    <img src="/images/main/full-seeds.svg" alt="">
                </figure>
                <figure class="full-imgs full-lines-img">
                    <img src="/images/main/full-lines.svg" alt="">
                </figure>
            </div>

            <div class="mainContainer splitSection">
                <div class="main-heading">
                    <h1>who<br>we<br>are</h1>
                </div>

                <div class="main-words">
                    <div class="section-words">
                        <h1>Who</h1>
                        <p>Specializing in the whole spectrum of branding, we help our clients with existing or new brands build strategic plans, conceptualize and establish an impactful visual identity that reflects the brand's heart and soul. Our projects cover a large variety of industries, some of which include real estate property management / developers, fashion, pharmaceuticals, jewelry showcase designs, co-working spaces, retail sourcing agencies and more.</p>
                    </div>

                    <div class="section-words">
                        <h1>Wesuperseed community</h1>
                        <p>WeSuperseed is a community of likeminded, multi-cultrual, innovative, passionate creators at heart aiming to use innovation and divergent creativity to alter and inspire minds. At WeSuperseed, we're always looking for creative minds to join us. We're aiming to grow a platform of creative thinkers that may be looking for work or that need assistance with their projects on hand.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-home-clients yellowBg">
            <div class="pattern-container border-pattern" id="patternFour">
                <figure class="border-imgs border-seeds-img">
                    <img src="/images/main/border-seeds.svg" alt="">
                </figure>
                <figure class="border-imgs border-lines-img">
                    <img src="/images/main/border-lines.svg" alt="">
                </figure>
            </div>

            <div class="mainContainer">
                <div class="clients-container">
                    <div class="main-heading">
                        <h1>our clients</h1>
                    </div>
                    <figure class="clients-img">
                        <img src="/images/main/client-logos.png" alt="">
                    </figure>
                </div>
            </div>
        </section>

        <section class="section section-home-contact">
            <div class="mainContainer splitSection">
                <div class="main-heading">
                    <h1>let's<br>have a<br>chat</h1>
                </div>

                <div class="main-words">
                    <div class="section-words">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quas, eos officia facere repudiandae dolore obcaecati rem cum nam, ut sed amet eaque numquam. Debitis incidunt voluptatibus fuga quibusdam error.</p>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="footer-contents">
                    <figure class="footer-img">
                        <img src="/images/main/logo-large.svg" alt="">
                    </figure>
                    <p class="footer-copy">superseed limited all rights reserved.</p>
                </div>
            </footer>
        </section>

    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/jquery.fullpage/2.9.4/jquery.fullpage.min.js"
        integrity="sha256-r80qU2FgO31x7HtK2BQxYOQxPb45x+eKKhzA0OrepyM=" crossorigin="anonymous"></script>
    <script src="<%= assetsMap.home.js %>"></script>
</body>
</html>
