@import url(https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

$font-stack: "Montserrat", "Arial", sans-serif;
$main-yellow: #f9cd53;
$main-blue: #294a60;
$main-teal: #44a4b1;
$main-white: #fff;
$main-black: #222;

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  width: 100%;
  font-family: $font-stack;
  font-weight: 400;
  color: $main-black;
  overflow-x: hidden;

  &.is-active {
    overflow: hidden;
  }
}

.wrapper {
  position: relative;
  width: 100%;
}

.flex-display {
  display: flex;

  &.position-center {
    align-items: center;
    justify-content: center;
  }

  &.space-around {
    align-items: center;
    justify-content: space-around;
  }

  &.direction-column {
    flex-direction: column;
  }
}

span.br {
  content: ' ';
  display: block;
}

span.br-mobile {
  content: ' ';
  display: inline-block;
  margin: 0 3px;
}

@media (max-width: 768px) {
  span.br {
    display: inline-block;
    margin: 0 5px;
  }

  span.br-mobile {
    content: ' ';
    display: block;
  }
}

@media (min-width: 768px) {
  .row-eq-height.sm-fix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

@media (min-width: 992px) {
  .row-eq-height.md-fix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

/**
 * Text styles
 */

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: .2s all;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  font-size: 14px;
  letter-spacing: .5px;
  font-weight: 300;
  line-height: 130%;
}

/**
 * Button styles
 */

a.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: .2s all ease;

  &.button-grey {
    background-color: #eee;
    color: $main-black;
    border-color: #eee;
  }
}

/**
 * Image/Icon styles
 */

figure {
  img {
    width: 100%;
    vertical-align: bottom;
  }
}

/**
 * Section Styles
 */

section.section {
  position: relative;
  height: 100vh;

  &.yellowBg {
    background-color: $main-yellow;
  }

  .pattern-container {
    position: absolute;
    width: 140%;
    left: 0;
    right: 0;
    z-index: 10;

    figure,
    figure img {
      height: 100%;
    }

    &.animate {
      &#patternOne {
        .border-imgs {
          transform: translateY(0);
        }
      }

      &#patternTwo {
        .full-imgs {
          transform: translateY(50%);
        }
      }

      &#patternThree {
        .full-imgs {
          transform: translateY(50%);
        }
      }

      &#patternFour {
        .border-imgs {
          transform: translateY(0);
        }
      }
    }

    &#patternOne {
      top: 0;

      .border-imgs {
        transform: translateY(-100%);

        &.border-seeds-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: 400ms all ease;
          transition-delay: 400ms;
        }

        &.border-lines-img {
          transition: 800ms all ease;
        }
      }
    }

    &#patternTwo {
      bottom: 0;

      .full-imgs {
        transform: translateY(150%);

        &.full-seeds-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: 400ms all ease;
          transition-delay: 400ms;
        }

        &.full-lines-img {
          transition: 800ms all ease;
        }
      }
    }

    &#patternThree {
      bottom: 0;

      .full-imgs {
        transform: translateY(150%);

        &.full-seeds-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: 400ms all ease;
          transition-delay: 400ms;
        }

        &.full-lines-img {
          transition: 800ms all ease;
        }
      }
    }

    &#patternFour {
      bottom: 0;

      .border-imgs {
        transform: translateY(150%);

        img {
          transform: rotate(180deg);
        }

        &.border-seeds-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: 400ms all ease;
          transition-delay: 400ms;
        }

        &.border-lines-img {
          transition: 800ms all ease;
        }
      }
    }

  }

  .mainContainer {
    position: relative;
    width: 100%;
    display: flex;

    &.splitSection {
      .main-heading {
        display: flex;
        flex: 1 0 25%;
        justify-content: center;
      }

      .main-words {
        display: flex;
        flex-flow: row wrap;
        flex: 1 0 75%;
      }
    }

    .main-heading {
      h1 {
        color: $main-blue;
        letter-spacing: 2.2px;
        font-size: 48px;
      }
    }

    .section-words {
      color: $main-black;
      margin: 0 auto;

      h1 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
        color: $main-yellow;
      }

      p {
        font-weight: 300;
        color: $main-blue;
      }
    }
  }
}

section.section-home-main {
  &.section-flex {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  .mainContainer {
    flex-flow: column wrap;
    align-items: center;

    .logo-container {
      width: 80%;
      .logo-image {
        max-width: 700px;
        margin: 0 auto;
      }
    }

    h1 {
      margin-top: 80px;
      color: $main-blue;
      font-weight: 100;
      font-size: 26px;
    }
  }
}

section.section-home-about {
  &.section-flex {
    flex-flow: row wrap;
    align-items: center;
  }

  .mainContainer {
    flex-flow: row wrap;

    .section-words {
      width: 80%;
      margin-bottom: 80px;
    }
  }
}

section.section-home-clients {
  &.section-flex {

  }

  .mainContainer {
    align-items: center;
    justify-content: center;


    .clients-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;

      .main-heading {
        margin-bottom: 60px;
        h1 {
          color: $main-white;
        }
      }

      .clients-img {
        width: 75%;
        margin: 0 auto;
      }
    }
  }
}

section.section-home-contact {
  &.section-flex {
    flex-flow: row wrap;
    align-items: center;
  }

  .mainContainer {
  }
}

footer.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 5px solid $main-yellow;
  width: 100%;
  height: 200px;
  background-color: $main-white;

  .footer-contents {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    .footer-img {
      max-width: 250px;
      margin-bottom: 30px;
    }

    .footer-copy {
      color: $main-black;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}
