@import url(https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

$font-stack: "Montserrat", "Arial", sans-serif;
$main-yellow: #f9cd53;
$main-blue: #294a60;
$main-teal: #44a4b1;
$main-white: #fff;
$main-black: #222;

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: $font-stack;
  font-weight: 400;
  color: $main-black;
  overflow-x: hidden;

  &.is-active {
    overflow: hidden;
  }
}

.wrapper {
  position: relative;
  width: 100%;
}

.flex-display {
  display: flex;

  &.position-center {
    align-items: center;
    justify-content: center;
  }

  &.space-around {
    align-items: center;
    justify-content: space-around;
  }

  &.direction-column {
    flex-direction: column;
  }
}

span.br {
  content: ' ';
  display: block;
}

span.br-mobile {
  content: ' ';
  display: inline-block;
  margin: 0 3px;
}

@media (max-width: 768px) {
  span.br {
    display: inline-block;
    margin: 0 5px;
  }

  span.br-mobile {
    content: ' ';
    display: block;
  }
}

@media (min-width: 768px) {
  .row-eq-height.sm-fix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

@media (min-width: 992px) {
  .row-eq-height.md-fix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

.md-br {
  margin: 0 5px;
}

@media (min-width: 992px) {
  .md-br {
    display: block;
  }
}

/**
 * Text styles
 */

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: .2s all;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  font-size: 14px;
  letter-spacing: .5px;
  font-weight: 300;
  line-height: 130%;
}

/**
 * Button styles
 */

a.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: .2s all ease;

  &.button-grey {
    background-color: #eee;
    color: $main-black;
    border-color: #eee;
  }
}

/**
 * Image/Icon styles
 */

figure {
  img {
    width: 100%;
    vertical-align: bottom;
  }
}

/**
 * Section Styles
 */

section.section {
  position: relative;
  height: 100vh;

  &.yellowBg {
    background-color: $main-yellow;
  }

  .pattern-container {
    position: absolute;
    width: 140%;
    left: 0;
    right: 0;
    z-index: 10;

    figure,
    figure img {
      height: 100%;
    }

    &.animate {
      &#patternOne {
        .border-imgs {
          transform: translateY(0);
        }
      }

      &#patternTwo {
        .full-imgs {
          transform: translateY(50%);
        }
      }

      &#patternThree {
        .full-imgs {
          transform: translateY(50%);
        }
      }

      &#patternFour {
        .border-imgs {
          transform: translateY(0);
        }
      }
    }

    &#patternOne {
      top: 0;

      .border-imgs {
        transform: translateY(-100%);

        &.border-seeds-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: 400ms all ease;
          transition-delay: 400ms;
        }

        &.border-lines-img {
          transition: 800ms all ease;
        }
      }
    }

    &#patternTwo {
      bottom: 0;

      .full-imgs {
        transform: translateY(150%);

        &.full-seeds-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: 400ms all ease;
          transition-delay: 400ms;
        }

        &.full-lines-img {
          transition: 800ms all ease;
        }
      }
    }

    &#patternThree {
      bottom: 0;

      .full-imgs {
        transform: translateY(150%);

        &.full-seeds-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: 400ms all ease;
          transition-delay: 400ms;
        }

        &.full-lines-img {
          transition: 800ms all ease;
        }
      }
    }

    &#patternFour {
      bottom: 0;

      .border-imgs {
        transform: translateY(150%);

        img {
          transform: rotate(180deg);
        }

        &.border-seeds-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: 400ms all ease;
          transition-delay: 400ms;
        }

        &.border-lines-img {
          transition: 800ms all ease;
        }
      }
    }

  }

  .mainContainer {
    position: relative;
    width: 100%;
    display: flex;

    &.splitSection {
      flex-flow: row wrap;

      .main-heading {
        display: flex;
        flex: 1 0 25%;
        justify-content: center;
      }

      .main-words {
        display: flex;
        flex-flow: row wrap;
        flex: 1 0 67.5%;
      }
    }

    .main-heading {
      h1 {
        color: $main-blue;
        letter-spacing: 2.2px;
        font-size: 48px;
      }
    }

    .section-words {
      color: $main-black;
      margin: 0 auto;

      h1 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
        color: $main-yellow;
      }

      p {
        font-weight: 300;
        color: $main-blue;
      }
    }
  }
}

@media (max-width: 991px) {
  section.section {
    .mainContainer {

      &.splitSection {
        flex-flow: column wrap;

        .main-heading {
          margin-bottom: 40px;
        }

        .main-words {
          .section-words {
            width: 75%;
            margin: 0 auto 60px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section.section {
    .mainContainer {

      .main-heading {
        h1 {
          font-size: 36px;
          text-align: center;
        }
      }

      &.splitSection {
        flex-flow: column wrap;

        .main-heading {
          margin-bottom: 20px;
        }

        .main-words {
          .section-words {
            margin: 0 auto 25px;

            h1 {
              font-size: 16px;
            }

            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.easingClass {
  transition: transform 1000ms cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 700ms ease-in-out;
  transition-delay: 500ms;
}

section.section-home-main {
  .mainContainer {
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100%;

    .logo-container {
      width: 80%;
      .logo-image {
        max-width: 700px;
        margin: 0 auto;
      }
    }

    h1 {
      margin-top: 80px;
      color: $main-blue;
      font-weight: 100;
      font-size: 26px;
    }
  }
}

@media (max-width: 768px) {
  section.section-home-main {
    .mainContainer {
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      height: 100%;

      .logo-container {
        width: 80%;
        .logo-image {
          max-width: 700px;
          margin: 0 auto;
        }
      }

      h1 {
        margin-left: 20px;
      }
    }
  }

}

section.section-home-about {
  .mainContainer {
    .main-heading {
      opacity: 0;
      transform: translateX(-100px);
    }

    .section-words {
      margin-right: 10%;
      margin-bottom: 80px;
      opacity: 0;

      &:nth-of-type(1) {
        transform: translateX(100px);
        transition-delay: 650ms;
      }

      &:nth-of-type(2) {
        transform: translateX(100px);
        transition-delay: 800ms;
      }
    }
  }

  &.active {
    .main-heading {
      opacity: 1;
      transform: translateX(0);
    }

    .section-words {
      opacity: 1;

      &:nth-of-type(1) {
        transform: translateX(0);
      }

      &:nth-of-type(2) {
        transform: translateX(0);
      }
    }
  }
}

@media (max-width: 991px) {
  section.section-home-about {
    .mainContainer {
      .main-heading {
        transform: translateX(0) translateY(100px);
      }

      .section-words {
        &:nth-of-type(1) {
          transform: translateX(0) translateY(100px);
        }

        &:nth-of-type(2) {
          transform: translateX(0) translateY(100px);
        }
      }
    }

    &.active {
      .main-heading {
        transform: translateY(0);
      }

      .section-words {

        &:nth-of-type(1) {
          transform: translateY(0);
        }

        &:nth-of-type(2) {
          transform: translateY(0);
        }
      }
    }
  }
}

section.section-home-clients {
  .mainContainer {
    align-items: center;
    justify-content: center;

    .clients-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;

      .main-heading {
        margin-bottom: 60px;
        transform: translateY(100px);
        opacity: 0;

        h1 {
          color: $main-white;
        }
      }

      .clients-img {
        width: 75%;
        margin: 0 auto;
        opacity: 0;
        transform: translateY(100px);
        transition-delay: 650ms;
      }
    }

  }
  &.active {
    .mainContainer {
      .clients-container {
        .main-heading {
          opacity: 1;
          transform: translateY(0);
        }

        .clients-img {
          opacity: 1;
          transform: translateY(0)
        }
      }
    }
  }
}

section.section-home-contact {
  .mainContainer.splitSection {
    margin-bottom: 200px;

    .main-heading {
      flex: 1 0 40%;
      transform: translateX(-100px);
      opacity: 0;
      transition-delay: 650ms;
    }

    .main-words {
      flex: 1 0 60%;

      .section-words {
        width: 60%;
        margin-right: 10%;
        margin-left: 0;
        opacity: 0;
        transform: translateX(100px);
        transition-delay: 800ms;
      }
    }
  }

  &.active {
    .mainContainer.splitSection {
      .main-heading {
        transform: translateX(0);
        opacity: 1;
      }

      .main-words {
        .section-words {
          transform: translateX(0);
          opacity: 1;
        }
      }

    }

    footer.footer {
      .contact-button {
        .contact-text {
          opacity: 1;
          transform: translateY(0);
        }

        .contact-img {
          transform: translateX(0);
        }
      }
    }
  }
}

@media (max-width: 991px) {
  section.section-home-contact {
    .mainContainer.splitSection {
      margin-bottom: 200px;

      .main-heading {
        transform: translateX(0) translateY(100px);
      }

      .main-words {
        .section-words {
          margin-right: auto;
          margin-left: auto;
          transform: translateX(0) translateY(100px);
        }
      }
    }

    &.active {
      .mainContainer.splitSection {
        .main-heading {
          transform: translateY(0);
          opacity: 1;
        }

        .main-words {
          .section-words {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }
}

footer.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 7px solid $main-yellow;
  width: 100%;
  height: 200px;
  background-color: $main-white;

  .contact-button {
    position: absolute;
    top: 0;
    right: 50px;
    cursor: pointer;
    overflow: hidden;
    transform: translateY(-100%);
    margin-top: -30px;

    .contact-text {
      position: absolute;
      color: $main-yellow;
      font-weight: 600;
      bottom: 15px;
      left: 0;
      font-size: 18px;
      opacity: 0;
      transform: translateY(50px);
      transition-delay: 1000ms;
    }

    .contact-img {
      transform: translateX(-100%);
      width: 200px;
      transition-delay: 1000ms;
    }
  }

  .footer-contents {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    .footer-img {
      max-width: 250px;
      margin-bottom: 30px;
    }

    .footer-copy {
      color: $main-black;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}

@media (max-width: 768px) {
  footer.footer {
    border-top: 5px solid $main-yellow;
    height: 170px;

    .contact-button {
      right: 15px;
      margin-top: -30px;

      .contact-text {
        font-size: 15px;
      }

      .contact-img {
        width: 160px;
      }
    }

    .footer-contents {
      .footer-img {
        max-width: 200px;
      }

      .footer-copy {
        font-size: 12px;
      }
    }
  }
}
