@import url(https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

$font-stack: "Montserrat", "Arial", sans-serif;
$main-yellow: #f9cd53;
$main-blue: #294a60;
$main-teal: #44a4b1;
$main-white: #fff;
$main-black: #222;

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: $font-stack;
  font-weight: 400;
  color: $main-black;
  overflow-x: hidden;

  &.is-active {
    overflow: hidden;
  }
}

.wrapper {
  position: relative;
  width: 100%;
}

.flex-display {
  display: flex;

  &.position-center {
    align-items: center;
    justify-content: center;
  }

  &.space-around {
    align-items: center;
    justify-content: space-around;
  }

  &.direction-column {
    flex-direction: column;
  }
}

span.br {
  content: ' ';
  display: block;
}

span.br-mobile {
  content: ' ';
  display: inline-block;
  margin: 0 3px;
}

@media (max-width: 768px) {
  span.br {
    display: inline-block;
    margin: 0 5px;
  }

  span.br-mobile {
    content: ' ';
    display: block;
  }
}

@media (min-width: 768px) {
  .row-eq-height.sm-fix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

@media (min-width: 992px) {
  .row-eq-height.md-fix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

.md-br {
  margin: 0 5px;
}

@media (min-width: 992px) {
  .md-br {
    display: block;
  }
}

/**
 * Text styles
 */

h1 {
  text-transform: uppercase;
  letter-spacing: 2.2px;
  transition: .2s all;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  font-size: 14px;
  letter-spacing: 1.3px;
  font-weight: 300;
  line-height: 130%;
}

ul li {
  letter-spacing: 1.3px;
  line-height: 130%;
}

/**
 * Button styles
 */

a.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: .2s all ease;

  &.button-grey {
    background-color: #eee;
    color: $main-black;
    border-color: #eee;
  }
}

/**
 * Image/Icon styles
 */

figure {
  img {
    width: 100%;
    vertical-align: bottom;
  }
}

/**
 * Section Styles
 */

section.section {
  position: relative;
  height: 100vh;

  .fix-container {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    width: 100%;

    .main-heading {
      margin-bottom: 40px;
    }
  }

  &.yellowBg {
    background-color: $main-yellow;
  }

  .pattern-container {
    position: absolute;
    width: 110%;
    left: 0;
    right: 0;
    z-index: 10;

    figure,
    figure img {
      height: 100%;
    }

    &.animate {
      &#patternOne {
        .border-imgs {
          transform: translateY(0);
        }
      }

      &#patternTwo {
        .full-imgs {
          transform: translateY(50%);
        }
      }

      &#patternThree {
        .full-imgs {
          transform: translateY(50%);
        }
      }

      &#patternFour {
        .full-imgs {
          transform: translateY(50%);
        }
      }

      &#patternFive {
        .border-imgs {
          transform: translateY(0);
        }
      }
    }

    &#patternOne {
      top: 0;

      .border-imgs {
        transform: translateY(-100%);

        &.border-seeds-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: 400ms all ease;
          transition-delay: 400ms;
        }

        &.border-lines-img {
          transition: 800ms all ease;
        }
      }
    }

    &#patternTwo {
      bottom: 0;

      .full-imgs {
        transform: translateY(150%);

        &.full-seeds-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: 400ms all ease;
          transition-delay: 400ms;
        }

        &.full-lines-img {
          transition: 800ms all ease;
        }
      }
    }

    &#patternThree {
      bottom: 0;

      .full-imgs {
        transform: translateY(150%);

        &.full-seeds-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: 400ms all ease;
          transition-delay: 400ms;
        }

        &.full-lines-img {
          transition: 800ms all ease;
        }
      }
    }

    &#patternFour {
      bottom: 0;

      .full-imgs {
        transform: translateY(150%);

        &.full-seeds-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: 400ms all ease;
          transition-delay: 400ms;
        }

        &.full-lines-img {
          transition: 800ms all ease;
        }
      }
    }

    &#patternFive {
      bottom: 0;

      .border-imgs {
        transform: translateY(150%);

        img {
          transform: rotate(180deg);
        }

        &.border-seeds-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: 400ms all ease;
          transition-delay: 400ms;
        }

        &.border-lines-img {
          transition: 800ms all ease;
        }
      }
    }

  }

  .mainContainer {
    position: relative;
    width: 100%;
    display: flex;

    &.splitSection {
      flex-flow: row wrap;

      .main-heading {
        display: flex;
        flex: 0 1 25%;
        justify-content: center;
      }

      .main-words {
        display: flex;
        flex-flow: row wrap;
        flex: 0 1 67.5%;
      }
    }

    .main-heading {
      h1 {
        color: $main-blue;
        letter-spacing: 2.2px;
        font-size: 54px;

        span.largeYellow {
          font-weight: 600;
          color: $main-yellow;
          font-size: 64px;
        }
      }
    }

    .section-words {
      color: $main-black;
      margin: 0 auto;

      h1 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
        color: $main-yellow;
      }

      p {
        font-size: 14px;
        font-weight: 300;
        color: $main-blue;
        margin-bottom: 15px;
      }

      ul {
        list-style: none;

        li {
          color: $main-blue;
          font-size: 16px;
          font-weight: 300;

          &:before {
            content: "• ";
            color: $main-yellow;
            font-size: 28px;
            position: relative;
            top: 2px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  section.section {
    .mainContainer {

      &.splitSection {
        flex-flow: column wrap;

        .main-heading {
          margin-bottom: 40px;

          h1 {
            font-size: 48px;

            span.largeYellow {
              font-size: 54px;
            }
          }
        }

        .main-words {
          .section-words {
          }
        }
      }
    }
    .fix-container {
      flex-flow: column wrap;
    }
  }
}

@media (max-width: 768px) {
  section.section {
    .pattern-container {
      width: 200%;
    }

    .fix-container {
      display: block;
    }

    .mainContainer {

      .main-heading {
        h1 {
          font-size: 36px;
          text-align: center;

          span.largeYellow {
            font-size: inherit;
          }
        }
      }

      &.splitSection {
        flex-flow: column wrap;

        .main-heading {
          margin-bottom: 20px;

          h1 {
            font-size: 26px;

            span.largeYellow {
              font-size: 42px;
            }
          }
        }

        .main-words {
          .section-words {
            margin: 0 auto 25px;

            h1 {
              font-size: 16px;
              margin-bottom: 10px;
            }

            p {
              font-size: 12px;
            }

            ul li {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  section.section {
    position: relative;

    .pattern-container {
      width: 200%;
    }
  }
}

.easingClass {
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-duration: 1000ms;
  transition-property: all;
  transition-delay: 500ms;
}

section.section-home-main {
  .mainContainer {
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100%;

    .logo-container {
      position: relative;
      width: 80%;
      max-width: 700px;
      overflow: hidden;

      .logo-image {
        top: 0;
        left: 0;
        width: 100%;
        margin: 0 auto;

        &#partial-one {
          transition-delay: 800ms;
          transform: translateX(-50%);
        }

        &#partial-two {
          opacity: 0;
          transition-delay: 1200ms;
        }

        &#partial-three {
          transition-delay: 1600ms;
          transform: translateX(-100%);
        }

        &#partial-four {
          transition-delay: 2000ms;
          transform: translateX(100%);
        }

        &.overlayed {
          position: absolute;
        }
      }

      &.animate {
        .logo-image {
          &#partial-one {
            transform: translateX(0);
          }
          &#partial-two {
            opacity: 1;
            transform: translateX(0);
          }
          &#partial-three {
            transform: translateX(0);
          }
          &#partial-four {
            transform: translateX(0);
          }
        }
      }
    }

    .headingWrapper {
      width: 100%;
      margin-top: 60px;
    }

    h1 {
      color: $main-blue;
      font-weight: 100;
      font-size: 26px;
      margin-bottom: 30px;
      text-align: center;

      &.splashHeading {
        transform: translateY(100px);
        opacity: 0;
        transition-delay: 2400ms;
      }

      &.splashSubheading {
        background-color: $main-yellow;
        width: 100%;
        padding: 10px 0;
        font-size: 18px;
        transform: scaleX(0);
        opacity: 0;
        transition-delay: 2800ms;
      }

      &.animate {
        transform: translateY(0);
        opacity: 1;

        &.splashSubheading {
          transform: scaleX(1);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section.section-home-main {
    .mainContainer {
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      height: 100%;

      .logo-container {
        width: 80%;
        .logo-image {
          max-width: 700px;
          margin: 0 auto;
        }
      }

      h1 {
        &.splashHeading {
          margin-left: 20px;
        }

        &.splashSubheading {
          padding: 10px 20px;
        }
      }
    }
  }
}

section.section-home-about {
  .mainContainer {
    .fix-container {
      flex-flow: column wrap;
      max-width: 950px;
      margin: 0 auto;
    }

    .main-heading {
      margin-bottom: 20px;

      h1 {
        opacity: 0;
        transform: translateY(100px);

        &.main-one {
          transition-delay: 1000ms;
        }
        &.main-two {
          transition-delay: 1600ms;
        }
      }
    }

    .section-words {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      max-width: 760px;
      margin-bottom: 20px;
      opacity: 0;
      transform: translateY(100px);

      &.words-one {
        transition-delay: 1300ms;
      }

      &.words-two {
        transition-delay: 1900ms;
      }
    }
  }

  &.active {
    .main-heading {
      h1 {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .section-words {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  section.section {
    .mainContainer.splitSection {
      .main-heading {
        margin-bottom: 10px;

        h1 {
          span.largeYellow {
            font-size: inherit;
          }
        }
      }

      .main-words .section-words {
        margin: 0 auto;
        width: 100%;
        padding: 0 15px;
      }
    }
  }
}

section.section-home-community {
  .mainContainer {
    .fix-container {
      flex-flow: column wrap;
      max-width: 950px;
      margin: 0 auto;
    }

    .main-heading {
      h1 {
        transition-delay: 1000ms;
        opacity: 0;
        transform: translateY(100px);

        span {
          position: relative;

          &.largeYellow {
            font-size: inherit;
          }
        }

      }
    }

    .section-words {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      max-width: 760px;
      margin-bottom: 20px;
      opacity: 0;
      transform: translateY(100px);

      .about-miniheading {
        margin-bottom: 20px;
      }

      &:nth-of-type(1) {
        transition-delay: 1300ms;
      }

      &:nth-of-type(2) {
        transition-delay: 1500ms;
      }
    }
  }

  &.active {
    .main-heading {
      h1 {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .section-words {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

section.section-home-clients {
  .mainContainer {
    align-items: center;
    justify-content: center;

    .clients-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column wrap;
      width: 100%;

      .main-heading {
        margin-bottom: 60px;

        h1 {
          color: $main-white;
          transition-delay: 1000ms;
          opacity: 0;
          transform: translateY(100px);
        }
      }

      .clients-img {
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
        opacity: 0;
        transform: translateY(100px);
        transition-delay: 1300ms;

        &.clients-desktop {
          max-width: 900px;
          display: block;
        }

        &.clients-mobile {
          max-width: 500px;
          display: none;
        }
      }
    }
  }

  &.active {
    .mainContainer {
      .clients-container {
        .main-heading {
          h1 {
            opacity: 1;
            transform: translateY(0);
          }
        }

        .clients-img {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section.section-home-clients {
    .mainContainer {

      .clients-container {
        .clients-img {
          &.clients-desktop {
            display: none;
          }

          &.clients-mobile {
            display: block;
          }
        }
      }
    }
  }
}

section.section-home-contact {
  .mainContainer {
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 200px;
    overflow: hidden;

    .bigseed-img {
      position: absolute;
      transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-delay: 2000ms;
      width: 300px;

      &.bigseed-left {
        top: 0;
        left: -20px;
        transform: translateY(-120%);
      }

      &.bigseed-right {
        bottom: 200px;
        right: -20px;
        transform: translateY(120%);
      }
    }

    .main-heading {
      text-align: center;

      h1 {
        transition-delay: 1000ms;
        opacity: 0;
        transform: translateY(100px);
      }
    }

    .main-words {
      position: relative;
      top: 80px;

      .contact-button {
        position: relative;
        display: block;
        cursor: pointer;
        overflow: hidden;

        .contact-text {
          position: absolute;
          color: $main-yellow;
          font-weight: 600;
          bottom: 15px;
          left: 0;
          font-size: 18px;
          opacity: 0;
          transform: translateY(50px);
          transition-delay: 1100ms;
        }

        .contact-img {
          transform: translateX(-100%);
          width: 200px;
          transition-timing-function: cubic-bezier(.68,-.55,.265,1.55);
          transition-delay: 1200ms;
        }
      }
    }

    .backTop {
      position: absolute;
      right: 100px;
      bottom: 220px;
      width: 50px;
      cursor: pointer;
      transform: translateY(200%);
      transition-delay: 2800ms;

      p {
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }

  &.active {
    .mainContainer {
      .bigseed-img {
        &.bigseed-left {
          transform: translateY(-50%);
        }

        &.bigseed-right {
          transform: translateY(50%);
        }
      }

      .main-heading {
        h1 {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .main-words {
        .contact-button {
          .contact-text {
            opacity: 1;
            transform: translateY(0);
          }

          .contact-img {
            transform: translateX(0);
          }
        }
      }

      .backTop {
        transform: translateY(0);
      }

    }

    footer.footer {
      &:before {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }
}


@media (max-width: 991px) {
  section.section-home-contact {
    .mainContainer {
      .fix-container {
        flex-flow: column wrap;
      }

      .main-words {
        .section-words {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section.section-home-contact {
    .mainContainer {
      padding-bottom: 170px;

      .bigseed-img {
        width: 150px;

        &.bigseed-left {
        }

        &.bigseed-right {
        }
      }

      .main-words {
        position: relative;
        top: 20px;
      }

      .backTop {
        right: 30px;
        bottom: 180px;
      }
    }
  }
}

footer.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: $main-white;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    height: 7px;
    background-color: $main-yellow;
    transition: 800ms all ease;
    transition-delay: 1000ms;
  }

  .footer-contents {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    .footer-img {
      max-width: 250px;
      margin-bottom: 30px;
    }

    .footer-copy {
      color: $main-black;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}

@media (max-width: 768px) {
  footer.footer {
    height: 170px;

    &:before {
      height: 4px;
    }

    .contact-button {
      right: 15px;
      margin-top: -30px;

      .contact-text {
        font-size: 15px;
      }

      .contact-img {
        width: 160px;
      }
    }

    .footer-contents {
      .footer-img {
        max-width: 200px;
      }

      .footer-copy {
        font-size: 12px;
      }
    }
  }
}
